<div class="container">
 <footer>
        <div class="co">
          <h2>Electro Cognition</h2>
        </div>
      
          <div class="footag">
            <i class="small blogger icon"></i><span class="spaneff text-primary">BLOGS</span> <i class="small users icon"></i><span class="spaneff text-primary">DISCUSS</span> <i class=" small share alternate icon"></i><span class="spaneff text-primary">SOCIAL SHARING</span>
          </div>

          <div class="footico">
            <a href="https://www.facebook.com"><i class="fico facebook square icon"> </i></a>
            <a href="https://twitter.com"><i class="fico twitter icon"></i></a>
            <a href="https://web.whatsapp.com/"><i class="ficow whatsapp icon"></i></a>
            <a href="https://www.instagram.com/"><i class="ficoi instagram icon"></i></a>
            <a href="https://www.gmail.com"><i class="ficom envelope icon"></i></a>
            <a href="https://in.linkedin.com"><i class="fico linkedin icon"></i></a>
        </div>      
        <p class="fcont spaneff">
        <strong class="text-center">© Copyright Electro Cognition Group</strong> 
			<br>
			Copyright is a form of protection grounded in the U.S. Constitution and granted by law for original works of authorship fixed in a tangible medium of expression. Copyright covers both published and unpublished works.
      </p>
      </footer>
</div>
<script async src="https://cse.google.com/cse.js?cx=9ffe5febbcc9bec15"></script>
<div class="gcse-search"></div>
<script type="text/javascript">
    $('.special.cards .image').dimmer({
  on: 'hover'
});
</script>
<script>
    $('.ui.basic.modal.del')
 .modal('attach events', '.gh', 'show')
;
       </script>
<script>
    $('.ui.modal.siuf')
 .modal('attach events', '.sgm', 'show')
;
	 $('.ui.modal.liuf')
 .modal('attach events', '.lgm', 'show')
;
	 $('.ui.modal.cdel')
 .modal('attach events', '.cbt', 'show')
;
	  $('.ui.dropdown')
  .dropdown()
;
	$(document).ready(function () {
    $(document).click(function (event) {
        var clickover = $(event.target);
        var _opened = $(".collapse").hasClass("collapse in");

        if (_opened === true && !clickover.hasClass("navbar-toggle")) {
            $("button.navbar-toggle").click();
        }
    });
});
	if (document.querySelectorAll('form')) {
  var formCollection = document.querySelectorAll('form');
  for (var i = 0; i < formCollection.length; i++) {
    (function(i) {
      var submitButton = formCollection[i].querySelector('[type="submit"]');
      formCollection[i].addEventListener('submit', function() {
        submitButton.setAttribute('disabled', 'true');
        submitButton.innerText = 'Please Wait...';      
      }); 
    }(i));
  }
}
   
       </script>
<script>
	window.onload = function() {
        fb_share.href ='https://www.facebook.com/sharer/sharer.php?u=' + window.location.href; 
        gmail_share.href ='https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=' + window.location.href; 
        wp_share.href ='https://api.whatsapp.com/send?text=' + window.location.href; 
        twt_share.href ='http://www.twitter.com/intent/tweet?url=' + window.location.href; 
		
    }
  $('.ui.button')
  .popup({
    on: 'click'
  })
;
	$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
	
</script>

</body>
</html>