<%- include("header") %>


<div class="ui container">
        <div class="ui huge header"> Online Tools</div>
        <div class="ui top  attached segment">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ui divided items">
                    <div class="item">
                        <div class="ui header">MATLAB Alternative</div>
                        <div class="image">
                            <a  href="https://octave-online.net/"><img src="https://www.esoftner.com/wp-content/uploads/2019/12/Octave-Logo.jpg" width="150px" height="150px"
                                 ></a>
                            
                        </div>
                        <div class="content">
                             <a class="header" href="https://octave-online.net/">Octave online</a>
                             <div class="description">
                                 <p>GNU Octave is software featuring a high-level programming language, primarily intended for numerical computations. Octave helps in solving linear and nonlinear problems numerically, and for performing other numerical experiments using a language that is mostly compatible with MATLAB. </p>
                             </div>
                            
                        </div>
                    </div>
    </div>
    </div> <br>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="ui divided items">
            <div class="item">
                <div class="ui header">OrCAD Alternative</div>
                <div class="image">
                    <a  href="https://www.multisim.com/"><img src="https://blog.digilentinc.com/wp-content/uploads/2015/01/184_multisim_app_icon_ill-600x594.png" width="150px" height="150px"
                         ></a>
                    
                </div>
                <div class="content">       
                     <a class="header" href="https://www.multisim.com/">Multisim</a>
                     <div class="description">
                         <p>NI Multisim is an electronic schematic capture and simulation program which is part of a suite of circuit design programs, along with NI Ultiboard. Multisim is one of the few circuit design programs to employ the original Berkeley SPICE based software simulation</p>
                     </div>
                    
                </div>
            </div>
    </div>
    </div> <br>
   
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="ui divided items">
            <div class="item">
                <div class="ui header">Circuit simulator</div>
                <div class="image">
                    <a  href="https://www.circuitlab.com/"><img src="https://pbs.twimg.com/profile_images/1595198177/twitter_logo_400x400.png" width="150px" height="150px"
                         ></a>
                    
                </div>
                <div class="content">       
                     <a class="header" href="https://www.circuitlab.com/"> Circuit Lab</a>
                     <div class="description">
                         <p>Build and simulate circuits
                            right in your browser.
                            ◘ Design with our easy-to-use schematic editor.
                            ◘ Analog & digital circuit simulations in seconds.
                            ◘ Professional schematic PDFs, wiring diagrams, and plots.
                            ◘ No installation required! Launch it instantly</p>
                     </div>
                    
                </div>
            </div>
    </div>
    </div><br>

                   
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="ui divided items">
            <div class="item">
                <div class="ui header">Code Composer <br>Studio</div>
                <div class="image">
                    <a  href="https://dev.ti.com/"><img src="https://dev.ti.com/portal/assets/images/main/favicon.ico" width="150px" height="150px"
                         ></a>
                    
                </div>
                <div class="content">       
                     <a class="header" href="https://dev.ti.com/"> Ti Dev Tools</a>
                     <div class="description">
                         <p>Code Composer Studio is an integrated development environment for developing applications for Texas Instruments embedded processors. Texas Instruments embedded processors include DSPs, ARM based devices and other processors such as MSP430</p>
                     </div>
                    
                </div>
            </div>
    </div>
                        
        </div> <br><br>

    </div>
</div>      
</div>
