<!DOCTYPE html>
<html>
    <head>
        <title>N Blogs | The way of social building</title>
		<link rel="icon" type="image/jpeg" href="Images/logo.png" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        
    </head>
	<body>
<div class="loader">
        <ul>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
            <li><div></div></li>
        </ul>
        <h4>Something cool is about to begin</h4>
    </div>
    
    <script type="text/javascript">
           window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/blogs";

    }, 4000);


        </script>
</body>
</html>    

